In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('quora question pairs.csv')

In [3]:
df.shape

(404290, 6)

In [4]:
df.sample(10)

,id,qid1,qid2,question1,question2,is_duplicate
32764,32764,11343,60274,How can black money brought out by discontinui...,Would banning notes of denominations 500 and 1...,1
245803,245803,358721,358722,What are some sites that are better than Angie...,What are some better shopping sites than ebay?,0
200662,200662,151603,206349,Why do men wear wrist watches on their left ha...,Why does a man wear his watch on the right han...,1
374752,374752,505683,505684,Tony Fratto: Is it likely that a significant n...,Is it likely that a significant number of mode...,1
318692,318692,444077,130847,Is masturbating bad for your sexual health?,How harmful or unhealthy is masturbation?,0
332530,332530,194816,71505,What's true love?,What is real meaning of love?,1
142377,142377,225809,225810,How do you solve the following recurrence usin...,How do you solve the following recurrence usin...,1
332829,332829,45648,459834,How and why we dream within a dream?,Can you really have a dream within a dream?,1
149774,149774,40021,235847,What is the difference between a parameter and...,If I have two linear models with the same numb...,0
379144,379144,510650,510651,What does it mean to be born out of wedlock?,What is it like to be born out of wedlock?,1

In [5]:
new_df = df.sample(3000)

In [6]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [9]:
ques_df = new_df[['question1', 'question2']]

In [10]:
ques_df

,question1,question2
123470,What i should do when i fall in love with my b...,Why do you fall in love with your best friend?
197750,How should I first approach a huge influencer ...,What is eligibility criteria for sankalp semic...
77760,Can someone travel back in time?,Can we go back in time?
37612,"What is the Sahara, and how do the average tem...","What is the Sahara, and how do the average tem..."
20049,What is the self-determination theory in sport...,What is the self-determination theory?
...,...,...
394860,"Definition of ""exported products?""",Is there is any sports or games whatever depen...
88309,How is the chemical formula of silver phosphat...,How is the chemical formula of zinc determined?
119165,What is the infant mortality rate for Canada?,What is the infant mortality rate for Norway?
357995,What are the best books for political science ...,Which book series is best for UPTU: Quantum or...
145310,What are some lesser-known sights to see when ...,In what building was the treaty of Ghent signe...

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=3000)

questions = list(new_df['question1']) + list(new_df['question2'])
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray() , 2)

In [16]:
temp_df1 = pd.DataFrame(q1_arr, index=ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index=ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(3000, 6000)

In [20]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
123470,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
197750,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77760,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
37612,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20049,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
88309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119165,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
357995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145310,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(temp_df.iloc[:,0:-1], temp_df.iloc[:,-1], test_size=0.33, random_state=42)

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test, y_pred)

0.7171717171717171